.overlay {
  background: rgba(157, 158, 160, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlayDark {
  background: rgba(2, 2, 2, 0.65);
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 625px;
  height: 465px;
  max-height: 465px;
  position: relative;

  padding: 2rem 3rem;
  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
}


/* HEADER */
.container header > img {
  position: absolute;
  left: 0.8rem;
  top: -0.6rem;

  width: 18rem;
  height: 6rem;
  filter: invert(51%) sepia(94%) saturate(4633%) hue-rotate(222deg) brightness(92%) contrast(89%);
}

.container header > img.darkmodeImg {
  filter: invert(66%) sepia(18%) saturate(1881%) hue-rotate(63deg) brightness(102%) contrast(88%);
}

.container header button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  background: transparent;
  border: 0;
  font-size: 0;
}

.container header button:hover img {
  filter: invert(29%) sepia(95%) saturate(1991%) hue-rotate(331deg) brightness(98%) contrast(86%);
}

/* MAIN */
.container main {
  margin-top: 4rem;
  margin-bottom: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container main div:first-child {
  margin-right: 5rem;
}

.container main div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 220px;
  height: 220px;
  border-radius: 8px;

  transition: all 350ms;
  cursor: pointer;
  background:rgba(157, 158, 160, 0.4);
}

.container main div:hover {
  background:rgba(157, 158, 160, 0.9);
}

.container main div img[src="/yoga.svg"] {
  padding-bottom: 2rem;
}

.container main div img {
  width: 11rem;
  height: 12rem;
  margin-bottom: 1rem;
}

.container main div p {
  font-weight: 600;
}


/* COUNTDOWN CLOCK */
.container section {
  margin-top: 4rem;
  margin-bottom: 1.3rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 275px;
  background: #dcdde077;
  border-radius: 30px;
}

.container section aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 2rem;
}

.container section aside p {
  font-size: 1rem;
}

.countdownContainer {
  display: flex;
  align-items: center;
  font-family: Rajdhani;
  font-weight: 600;
  color: var(--title);
}

.countdownContainer > div {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  background: var(--white);
  box-shadow: 0 0 60px rgba(0,0,0,0.05);
  border-radius: 5px;
  font-size: 8.5rem;
  text-align: center;

  padding: 5px;
}

.countdownContainer > div span {
  flex: 1;
  width: 68.3px;
  max-width: 68.3px;
  
  user-select: none;
  cursor: pointer;
}

.countdownContainer > div span:first-child {
  border-right: 1px solid #f0f1f3;
}

.countdownContainer > span {
  font-size: 6.25rem;
  margin: 0 0.5rem;
}


/* FOOTER */
.container footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container footer button.resetButton {
  width: 80%;
  height: 4.5rem;

  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 0;
  border-radius: 5px;
  margin-bottom: 0.5rem;

  background: var(--blue);
  color: var(--white);

  font-size: 1.25rem;
  font-weight: 600;

  transition: background-color 0.2s;
}

.container footer button.resetButton:hover {
  background: var(--blue-dark);
}

.container footer button.confirmResetButton {
  background: var(--red);
} 

.container footer button.confirmResetButton:hover {
  background: #bd1c36;
}

.container footer button.confirmResetButton i {
  margin: 0 1rem 0 1rem;
}

.container footer button.applyButton {
  width: 60%;
  height: 3rem;

  position: absolute;
  bottom: 1rem;
}

.container footer a {
  cursor: pointer;
}
