.overlay {
  background: rgba(242, 243, 245, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  background: var(--white);
  width: 100%;
  max-width: 600px;
  height: 350px;
  max-height: 400px;
  position: relative;

  padding: 2rem 3rem;
  border-radius: 5px;

  box-shadow: 0 0 60px rgba(0,0,0,0.2);
  text-align: center;
  position: relative;
}
