.container {
  display: flex;
  flex-direction: column;

  width: 40rem;
  max-width: 40rem;
}

.container > img {
  width: 25rem;
  margin-bottom: 4rem;
  transform: scale(1.2) translateX(1rem);

  filter: drop-shadow(0 0 6.5px #868686);
}

.container strong {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}

.container strong span {
  color: var(--red);
  text-decoration: underline;
}

.container div {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 3rem;
  cursor: pointer;
}

.container div:hover i,
.container div:hover span {
  filter: brightness(2);
}

.container div a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 25rem;
}

.container div a i {
  margin-right: 2rem;
  font-size: 3rem;
  color: #b3b4bd;
}

.container div a span {
  font-size: 1.5rem;
  color: #b3b4bd;
}

.container form {
  max-width: 20rem;

  display: flex;

}

.container form input {
  border: 0;
  outline: 0;

  background: rgb(36, 36, 40);
  background: linear-gradient(90deg, rgb(36, 36, 40) 40%, rgba(59, 60, 79, 0.2) 100%);
  color: #fff;

  padding: 1rem;
  border-radius: 5px;
}

.container form input::placeholder {
  color: #b3b4bd;
}

.container form button {
  border: 0;
  padding: 2rem;
  color: #eee;
  background: #4cd62b;
  border-radius: 3px;

  transition: all 200ms;
}

.container form button i {
  font-size: 1.5rem;
}

.container form button:disabled {
  background: rgb(36, 36, 40);
}