.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 7.5rem;

  box-shadow: 8px 0 20px rgba(0,0,0,0.1);
}

.container img {
  position: absolute;
  top: 2.5rem;
  left: 1.475rem;
  width: 5rem;

  filter: invert(51%) sepia(94%) saturate(4633%) hue-rotate(222deg) brightness(92%) contrast(89%);
}

.container img.darkmodeImg {
  filter: invert(66%) sepia(18%) saturate(1881%) hue-rotate(63deg) brightness(102%) contrast(88%);
}

.container img:hover {
  cursor: pointer;
  animation: spin ease 5s;
}

.container main {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.container main label {
  width: 100%;
  height: 3.3rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--background);
  color: var(--text);

  border-left: 4px solid transparent;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
}

.container main label:hover {
  border-left: 4px solid var(--low-opacity);
}

.container main input:checked + label {
  border-left: 4px solid var(--blue);
}

.container main input:checked + label i {
  color: var(--blue);
}

.container main input {
  display: none;
}

.container div {
  position: absolute;
  bottom: 1rem;
  left: 2.4rem;

  width: 100%;
  height: 4rem;
}

.container div i:hover {
  color: var(--blue);
}

.container div i {
  font-size: 2.5rem;
  cursor: pointer;
}

.container i {
  font-size: 1.7rem;
}

@keyframes spin {
  from { transform: rotateY(0deg) scale(1); }
  40% { transform: rotateY(180deg) scale(0.5); }
  to { transform: rotateY(360deg) scale(1); }
}