.container {
  height: 100vh;
  max-width: 992px;
  margin: 0 9rem 0 21.5rem;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

.container section {
  flex: 1;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6.25rem;
  align-content: center;
}

.container .decorationSlash {
  width: 25rem;
  height: 10rem;

  position: absolute;
  bottom: 0;
  right: -16rem;

  background: var(--blue);
  transform: rotate(-45deg);
}

.container .decorationSlash:hover {
  right: -14.5rem;
  cursor: pointer;
}