.landingContainer {
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  justify-content: right;
  align-items: center;

  background: #3e3f46;
  color: white;
}

.landingContainer section {
  flex: 1;

  height: 100vh;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.landingContainer section > img {
  height: 45rem;
  transform: rotate(-15deg);

  filter: invert(100%) sepia(82%) saturate(2460%) hue-rotate(182deg) brightness(128%) contrast(87%);
}

@media (max-width: 500px) {
  .landingContainer {
    height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    justify-content: right;
    align-items: center;

    color: white;
  }

  .landingContainer section {
    flex: 1;
  
    height: 100vh;
    max-width: 300px;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landingContainer section > img {
    display: none;
  }
}